<!DOCTYPE html>
<!Author: James Marcel>
<!CS5610 Assignment 3>
<!10/19/2022>
<!404 page>

<HTML>
<head>
	<%- include('./partials/head.ejs') %>
</head>

<body>

	<%- include('./partials/nav.ejs') %>

<div class="container">
<h1>Oops 404 error. Page Not Found. </h1>

</div>

<%- include('./partials/footer.ejs') %>
</body>

</HTML>