<!DOCTYPE html>
<!Author: James Marcel>
<!CS5610 Assignment 3>
<!10/19/2022>
<!forgot page>

<HTML>
<head>
	<%- include('./partials/head.ejs') %>
</head>

<body>

	<%- include('./partials/nav.ejs') %>


<div class="container content">
	<div>
		<h1>Forgot Password</h1>
	</div>
	<div class="textbox">
        Sorry I don't know how to fix this just yet. You'll have to create a new account :(
	</form>

</div>

<%- include('./partials/footer.ejs') %>
</body>

</HTML>